:root {
  --color-text: #6b6e6f;
  --color-headings: #2b3940;
  --color-primary: #00b074;
  --color-primary-dark: #398a5b;

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

$color-primary: #00b074;
