.color-blue {
  background-color: #5877be !important;
}

.color-light-blue {
  background-color: #b0d5e8 !important;
}

.color-yellow {
  background-color: #facf32 !important;
}

.color-brown {
  background-color: #fa6032 !important;
}
.color-purple {
  background-color: #9c5fff !important;
}
